html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
abbr[title] {
  border-bottom: 1px dotted;
}
sup,
sub {
  font-size: 83%;
}
svg:not(:root) {
  overflow: hidden;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font-size: 12px;
  font-family: '\5B8B\4F53,'宋体';
  color: #333;
  outline: 0;
}
body {
  background: #e8eef0;
}
a {
  color: #5e808c;
}
a:hover {
  color: #7899a5;
}
/* function */
.f-cb:after,
.f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.f-cb,
.f-cbli li {
  zoom: 1;
}
.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.f-dn {
  display: none;
}
.f-db {
  display: block;
}
.f-fl {
  float: left;
}
.f-fr {
  float: right;
}
.f-pr {
  position: relative;
}
.f-prz {
  position: relative;
  zoom: 1;
}
.f-oh {
  overflow: hidden;
}
.f-ff0 {
  font-family: arial,\5b8b\4f53;
}
.f-ff1 {
  font-family: '\5B8B\4F53,'宋体';
}
.f-fs1 {
  font-size: 12px;
}
.f-fs2 {
  font-size: 14px;
}
.f-fwn {
  font-weight: normal;
}
.f-fwb {
  font-weight: bold;
}
.f-tal {
  text-align: left;
}
.f-tac {
  text-align: center;
}
.f-tar {
  text-align: right;
}
.f-taj {
  text-align: justify;
  text-justify: inter-ideograph;
}
.f-vam,
.f-vama * {
  vertical-align: middle;
}
.f-wsn {
  word-wrap: normal;
  white-space: nowrap;
}
.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}
.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.f-ti {
  overflow: hidden;
  text-indent: -30000px;
}
.f-ti2 {
  text-indent: 2em;
}
.f-lhn {
  line-height: normal;
}
.f-tdu,
.f-tdu:hover {
  text-decoration: underline;
}
.f-tdn,
.f-tdn:hover {
  text-decoration: none;
}
.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.f-csp {
  cursor: pointer;
}
.f-csd {
  cursor: default;
}
.f-csh {
  cursor: help;
}
.f-csm {
  cursor: move;
}
.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.u-select {
  position: relative;
  height: 20px;
  border: 1px solid #526d77;
}
.u-select:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: red;
  content: "&";
}
.m-slideBox {
  position: relative;
  width: 870px;
  height: 293px;
  overflow: hidden;
  border: 1px solid #5f7f8c;
}
.m-slideBox .hd {
  position: absolute;
  right: 8px;
  bottom: 5px;
  height: 19px;
  overflow: hidden;
  z-index: 1000;
}
.m-slideBox .hd ul {
  float: left;
  overflow: hidden;
  zoom: 1;
}
.m-slideBox .hd ul li {
  float: left;
  margin-right: 2px;
  padding: 1px;
  border: 1px solid #5f7f8c;
  background: #e1eff4;
}
.m-slideBox .hd ul li a {
  display: block;
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  color: #5f7f8c;
  border: 1px solid #93acb6;
  cursor: pointer;
}
.m-slideBox .hd ul li a a:hover {
  color: #7a98a4;
}
.m-slideBox .hd ul li.on {
  color: #fff;
  background: #5f7f8c;
}
.m-slideBox .hd ul li.on a {
  color: #e6e6e6;
}
.m-slideBox .bd {
  position: relative;
  height: 100%;
  z-index: 999;
}
.m-slideBox .bd li {
  zoom: 1;
  vertical-align: middle;
}
.m-slideBox .bd img {
  display: block;
  width: 100%;
  height: auto;
}
.nav-tabs li {
  float: left;
  width: 33.2%;
}
.nav-tabs li a {
  display: block;
  width: 100%;
  height: 30px;
  padding: 5px 0;
  overflow: hidden;
  border: 1px solid #5f7f8c;
  border-bottom: none;
  background: #e8eef0;
}
.nav-tabs li a span {
  display: block;
  color: #526d77;
  text-align: center;
}
.nav-tabs li a span.title {
  font-family: 'Microsoft YaHei',\5FAE\8F6F\96C5\9ED1,'微软雅黑', 'SimSun',\5B8B\4F53,'宋体';
  font-size: 16px;
}
.nav-tabs li a span.sub {
  -webkit-transform: scale(0.83333333);
  -ms-transform: scale(0.83333333);
  transform: scale(0.83333333);
  font-family: Arial;
  font-size: 10px \9;
  font-size: 12px;
  text-transform: uppercase;
}
.nav-tabs li.active a,
.nav-tabs li.on a {
  background: #526d77;
}
.nav-tabs li.active a span,
.nav-tabs li.on a span {
  color: #e8eef0;
}
.tab-content {
  position: relative;
  border: 1px solid #5f7f8c;
  border-top-width: 2px;
}
.tab-content:before,
.tab-content:after {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 3px;
  height: 7px;
  background: url(../images/wenlu.png) repeat-x;
  content: '';
}
.tab-content:after {
  top: auto;
  bottom: 2px;
}
.tab-content .tab-panel {
  height: 234px;
  padding: 8px 15px 8px 22px ;
}
.tab-content .tab-panel.active {
  display: block;
}
.tab-content .tab-panel ul li {
  border-bottom: 1px dashed #a7bdc5;
}
.tab-content .tab-panel ul li a {
  font-size: 14px;
  line-height: 1.97 ;
}
.tab-content .tab-panel ul li a span {
  float: right;
}
.tab-content .tab-panel .more {
  margin-top: 10px;
}
.tab-content .tab-panel .more a {
  display: block;
  text-align: right;
}
.m-txtMarqueeLeft {
  position: relative;
  width: 755px;
}
.m-txtMarqueeLeft .bd .tempWrap {
  width: 755px !important;
}
.m-txtMarqueeLeft .bd ul {
  overflow: hidden;
  zoom: 1;
}
.m-txtMarqueeLeft .bd ul li {
  _display: inline;
  float: left;
  height: 33px;
  width: auto !important;
  margin-right: 20px;
  line-height: 33px;
  font-size: 14px;
  text-align: left;
}
.m-picScroll-left {
  position: relative;
  width: 380px;
  height: 218px;
}
.m-picScroll-left .bd {
  padding: 10px 5px;
}
.m-picScroll-left .bd ul {
  overflow: hidden;
  zoom: 1;
}
.m-picScroll-left .bd ul li {
  float: left;
  _display: inline;
  margin: 0 8px;
  overflow: hidden;
  text-align: center;
  border: none;
}
.m-picScroll-left .bd ul li .pic {
  text-align: center;
}
.m-picScroll-left .bd ul li .pic img {
  display: block;
  width: 105px;
  height: 154px;
  border: 1px solid #7f9ca7;
}
.m-picScroll-left .bd ul li .pic a:hover img {
  border-color: #999;
}
.m-picScroll-left .bd ul li .title {
  border-bottom: 1px dashed #7f9ca7;
}
.m-picScroll-left .bd ul li .title a {
  font-size: 14px;
  line-height: 1.71428571;
  color: #364b52;
}
.m-picScroll-left .bd ul li .sub a {
  font-size: 12px;
  color: #364b52;
}
.m-picScroll-left .prevBtn,
.m-picScroll-left .nextBtn {
  position: absolute;
  top: 70px;
  left: -18px;
  width: 20px;
  height: 34px;
  background: url(../images/arrow.png) no-repeat;
  cursor: pointer;
}
.m-picScroll-left .nextBtn {
  left: auto;
  right: -18px;
  background-position: -19px 0;
}
.g-hd {
  background: #e8eef0;
}
.g-hd .m-hdt {
  position: relative;
  height: 285px;
  background: #d7e2e4;
}
.g-hd .m-hdt .content {
  width: 1300px \9;
  height: 100%;
  margin: 0 auto;
  background: url(../images/headbg.jpg) no-repeat;
}
@media (min-width: 1200px) {
  .g-hd .m-hdt .content {
    position: relative;
    width: 1300px;
  }
}
.g-hd .m-hdt .content .h1 {
  text-indent: -9999px;
}
.g-hd .m-hdt .content .m-login {
  position: absolute;
  top: 10px;
  right: 80px;
}
.g-hd .m-hdt .content .m-login .login_t {
  height: 20px;
  margin-bottom: 5px;
}
.g-hd .m-hdt .content .m-login .login_t > * {
  float: left;
}
.g-hd .m-hdt .content .m-login .login_t .toggleModel {
  line-height: 20px;
  margin-left: 20px;
  margin-right: 10px;
}
.g-hd .m-hdt .content .m-login .login_t .toggleModel span {
  color: #ff3300;
}
.g-hd .m-hdt .content .m-login .login_t .login {
  margin: 3px 0px;
}
.g-hd .m-hdt .content .m-login .login_t .login li {
  float: left;
  line-height: 14px;
  border-left: 1px solid #343f45;
}
.g-hd .m-hdt .content .m-login .login_t .login li a {
  font-size: 12px;
  padding: 0 8px;
}
.g-hd .m-hdt .content .m-login .login_b .loginText {
  float: left;
  width: 173px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #a5aaad;
}
.g-hd .m-hdt .content .m-login .login_b .btnWrap {
  float: left;
  width: 68px;
  padding: 1px;
  border: 1px solid #526d77;
}
.g-hd .m-hdt .content .m-login .login_b .btnWrap .searchBtn {
  width: 100%;
  height: 18px;
  border: none;
  color: #fff;
  background: #526d77;
}
.g-hd .m-hdb {
  border-top: 1px solid #a5aaad;
  border-bottom: 1px solid #a5aaad;
  padding: 5px 0;
}
.g-hd .m-hdb .content {
  background: #9cadb4;
}
.g-hd .m-hdb .content .navWrap {
  width: 1200px \9;
  height: 76px;
  background: #526d77;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .g-hd .m-hdb .content .navWrap {
    width: 1200px;
  }
}
.g-hd .m-hdb .content .navWrap .nav {
  width: 980px \9;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .g-hd .m-hdb .content .navWrap .nav {
    width: 980px;
  }
}
.g-hd .m-hdb .content .navWrap .nav .nav1 {
  float: left;
}
.g-hd .m-hdb .content .navWrap .nav .nav1 ul {
  float: left;
  width: 252px;
  margin-top: 12px;
  overflow: hidden;
  border-right: 2px solid #fff;
}
.g-hd .m-hdb .content .navWrap .nav .nav1 ul li {
  float: left;
  margin-left: -3px;
  padding: 0 5px;
  border-left: 2px solid #fff;
}
.g-hd .m-hdb .content .navWrap .nav .nav1 ul li:nth-child(-n+3) {
  margin-bottom: 4px;
}
.g-hd .m-hdb .content .navWrap .nav .nav1 ul li span {
  display: block;
  padding: 2px;
  background: none;
}
.g-hd .m-hdb .content .navWrap .nav .nav1 ul li span a {
  display: block;
  padding: 1px 3px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 1px solid transparent;
}
.g-hd .m-hdb .content .navWrap .nav .nav1 ul li.active span {
  background: #e6edef;
}
.g-hd .m-hdb .content .navWrap .nav .nav1 ul li.active span a {
  display: block;
  padding: 1px 3px;
  font-weight: bold;
  font-size: 14px;
  color: #5f7f8c;
  border: 1px solid #5f7f8c;
}
.g-hd .m-hdb .content .navWrap .nav .nav2 {
  float: left;
}
.g-hd .m-hdb .content .navWrap .nav .nav2 ul {
  padding: 1px 0;
  margin-top: 12px;
  border-right: 2px solid #fff;
}
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li {
  margin-top: 3px;
}
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dt,
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dd {
  float: left;
}
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dt a,
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dd a {
  font-size: 14px;
  color: #fff;
}
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dt {
  padding: 0 5px;
}
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dt a {
  font-weight: bold;
}
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dd {
  padding: 0 10px;
  border-right: 1px solid #fff;
}
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dd:last-child,
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dd.last {
  border-right: 0;
}
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dd:first-child:before,
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dd.first:before {
  display: inline-block;
  height: 14px;
  margin-left: -5px;
  margin-right: 5px;
  font-weight: bold;
  color: #fff;
  content: "[";
}
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dd:last-child:after,
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li dl dd.last:after {
  display: inline-block;
  height: 14px;
  margin-right: -5px;
  margin-left: 5px;
  font-weight: bold;
  color: #fff;
  content: "]";
}
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li:last-child,
.g-hd .m-hdb .content .navWrap .nav .nav2 ul li.last {
  margin: 12px 0 4px 0;
}
.g-hd .m-hdb .content .navWrap .nav .nav3 {
  float: left;
}
.g-hd .m-hdb .content .navWrap .nav .nav3 ul {
  margin-top: 8px;
}
.g-hd .m-hdb .content .navWrap .nav .nav3 ul li {
  padding: 7px 10px;
}
.g-hd .m-hdb .content .navWrap .nav .nav3 ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.g-bd {
  width: 1200px \9;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .g-bd {
    width: 1200px;
  }
}
.g-bd .m-bdbl {
  float: left;
  width: 872px;
  height: auto;
}
.g-bd .m-bdbr {
  float: right;
  width: 308px;
  height: auto;
}
.g-bd .row {
  margin-bottom: 10px;
}
.g-bd .m-bdt {
  margin-top: 10px;
}
.g-bd .m-bdt .row1 .l,
.g-bd .m-bdt .row1 .r {
  float: left;
  height: 153px;
}
.g-bd .m-bdt .row1 .l {
  width: 208px;
  height: 123px;
  padding: 15px 17px 15px 40px;
  background: url(../images/every.jpg) no-repeat 0 0;
}
.g-bd .m-bdt .row1 .l .row1 {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.g-bd .m-bdt .row1 .l .row1 * {
  vertical-align: middle;
}
.g-bd .m-bdt .row1 .l .row1 span {
  color: #274955;
}
.g-bd .m-bdt .row1 .l .row1 .year {
  font-size: 14px;
  line-height: 24px;
}
.g-bd .m-bdt .row1 .l .row1 .date {
  margin: 0 5px;
  font-size: 24px;
  font-weight: bold;
}
.g-bd .m-bdt .row1 .l .row1 .day {
  font-size: 14px;
}
.g-bd .m-bdt .row1 .l .row2 .content {
  padding: 10px 5px;
}
.g-bd .m-bdt .row1 .l .row2 .content .title,
.g-bd .m-bdt .row1 .l .row2 .content .body {
  text-align: center;
}
.g-bd .m-bdt .row1 .l .row2 .content .title {
  font-size: 14px;
}
.g-bd .m-bdt .row1 .l .row2 .content .actor {
  text-align: right;
}
.g-bd .m-bdt .row1 .l .row2 .content .body {
  margin-top: 5px;
}
.g-bd .m-bdt .row1 .l .row2 .content .body p {
  margin-top: 3px;
}
.g-bd .m-bdt .row1 .l .row2 .content .body p:first-child {
  margin-top: 0;
}
.g-bd .m-bdt .row1 .r {
  float: right;
  width: 920px;
}
.g-bd .m-bdt .row1 .r .row1 {
  width: 100%;
  height: 33px;
  background: url(../images/shi.jpg) no-repeat 0 0;
}
.g-bd .m-bdt .row1 .r .row1 dl dt,
.g-bd .m-bdt .row1 .r .row1 dl dd {
  float: left;
  height: 33px;
  line-height: 33px;
  color: #364b52;
}
.g-bd .m-bdt .row1 .r .row1 dl dt {
  width: 124px;
  margin-left: 20px;
  font-weight: bold;
  text-align: center;
}
.g-bd .m-bdt .row1 .r .row2 .banner {
  width: 918px;
  height: 112px;
  margin-top: 5px;
  border: 1px solid #93acb6;
}
.g-bd .m-bdb .m-bdbl .row1 .m-slideBox1 {
  width: 870px;
  height: 293px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt {
  position: relative;
  float: left;
  width: 118px;
  height: 296px;
  padding: 0px 3px 0 6px;
  background: url(../images/fengya.jpg) no-repeat 0 0;
  z-index: 1060;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul {
  margin-top: 80px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li {
  height: 35px;
  line-height: 35px;
  margin-top: -1px;
  overflow: hidden;
  border-top: 1px solid #cad4d8;
  border-bottom: 1px solid #cad4d8;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li a {
  display: block;
  position: relative;
  height: 100%;
  padding-left: 60px;
  font-size: 14px;
  color: #fff;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li .icon {
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 28px;
  width: 28px;
  height: 28px;
  overflow: hidden;
  background: url(../images/list.png) no-repeat;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li .icon-jue {
  background-position: -30px 0;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li .icon-lv {
  background-position: -31px -37px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li .icon-qu {
  background-position: -31px -73px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li .icon-fu {
  background-position: -31px -109px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li .icon-feng {
  background-position: -31px -145px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li.on a,
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li:hover a {
  color: #274955;
  background: #cad4d8;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li.on .icon-jue,
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li:hover .icon-jue {
  background-position: 0 0;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li.on .icon-lv,
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li:hover .icon-lv {
  background-position: 0 -37px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li.on .icon-qu,
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li:hover .icon-qu {
  background-position: 0 -73px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li.on .icon-fu,
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li:hover .icon-fu {
  background-position: 0 -109px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li.on .icon-feng,
.g-bd .m-bdb .m-bdbl .row2 > dl > dt ul li:hover .icon-feng {
  background-position: 0 -145px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd {
  float: right;
  position: relative;
  width: 100%;
  height: 100%;
  border-left: none;
  background: #cad4d8 ;
  margin-left: -129px;
  z-index: 1000;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd:before,
.g-bd .m-bdb .m-bdbl .row2 > dl > dd:after {
  position: absolute;
  top: 3px;
  left: 128px;
  right: 10px;
  height: 9px;
  background: url(../images/wenlu.png) repeat-x left 0;
  content: '';
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd:after {
  top: auto;
  bottom: 1px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd > ul {
  position: relative;
  display: block;
  height: 293px;
  border: 1px solid #6a828a;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd > ul:before {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  width: 7px;
  background: url(../images/wenlu3.png) repeat-y 0 1px;
  content: '';
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd .on {
  display: block;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd .content {
  margin-left: 128px;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd .content > ul {
  float: left;
  margin-top: 30px;
  width: 30%;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd .content > ul li {
  margin: 0 15px ;
  padding: 10px 0 5px;
  border-bottom: 1px dashed #7997a2;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd .content > ul li .title {
  margin-bottom: 5px;
  font-size: 14px;
  color: #274955;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd .content > ul li .title span {
  float: right;
  font-size: 12px;
  color: #526d77;
}
.g-bd .m-bdb .m-bdbl .row2 > dl > dd .content > ul li .body {
  line-height: 1.6;
  color: #526d77;
}
.g-bd .m-bdb .m-bdbl .row3 .l {
  float: left;
  width: 450px;
  height: 368px;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content {
  border: 1px solid #5f7f8c;
  background: #cad4d8;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel {
  height: 309px;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell {
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 8px;
  left: 0;
  padding: 10px 25px;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell:before,
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell:after {
  position: absolute;
  top: 1px;
  left: 2px;
  bottom: 1px;
  width: 8px;
  background: url(../images/wenlu.png) repeat-y;
  content: '';
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell:after {
  left: auto;
  right: 2px;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell .cell_t .u-img {
  float: left;
  width: 227px;
  height: 177px;
  border: 1px solid #526d77;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell .cell_t .u-img img {
  width: 100%;
  height: 100%;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell .cell_t .txt {
  float: right;
  position: relative;
  width: 100%;
  height: 179px;
  overflow: hidden;
  margin-left: -230px;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell .cell_t .txt .title {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: 245px;
  margin-right: 10px;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell .cell_t .txt .title h3,
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell .cell_t .txt .title p {
  padding: 5px 0;
  color: #364b52;
  border-bottom: 1px dashed #7997a2;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell .cell_t .txt .title h3 {
  font-weight: normal;
  font-size: 18px;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell .cell_t .txt .title p {
  font-size: 14px;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell .cell_b {
  margin-top: 10px;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell .cell_b p {
  text-indent: 2em;
}
.g-bd .m-bdb .m-bdbl .row3 .l .tab-content .tab-panel .cell .cell_b p a {
  font-size: 14px;
  line-height: 1.8;
  text-indent: 2em;
  padding: 5px 0;
  border-bottom: 1px dashed #7997a2;
  color: #364b52;
}
.g-bd .m-bdb .m-bdbl .row3 .r {
  float: right;
  position: relative;
  width: 402px;
  height: 368px;
}
.g-bd .m-bdb .m-bdbl .row3 .r:before,
.g-bd .m-bdb .m-bdbl .row3 .r:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 402px;
  height: 16px;
  content: '';
  background: url(../images/zhou.png) no-repeat;
}
.g-bd .m-bdb .m-bdbl .row3 .r:after {
  top: auto;
  bottom: 0;
}
.g-bd .m-bdb .m-bdbl .row3 .r .content {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 15px;
  margin: 16px 0;
  background: #cad8dd;
}
.g-bd .m-bdb .m-bdbl .row3 .r .content .cell {
  position: absolute;
  top: 7px;
  right: 15px;
  bottom: 7px;
  left: 15px;
  padding: 5px 20px;
  border: 1px solid #a7bdc5;
}
.g-bd .m-bdb .m-bdbl .row3 .r .content .cell .cell_t a {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #8fa9b3;
}
.g-bd .m-bdb .m-bdbl .row3 .r .content .cell .cell_b {
  margin-top: 4px;
}
.g-bd .m-bdb .m-bdbl .row3 .r .content .cell .cell_b ul li {
  border-top: 1px dashed #8fa9b3;
  padding-bottom: 5px;
}
.g-bd .m-bdb .m-bdbl .row3 .r .content .cell .cell_b ul li dl dt {
  padding: 3px 0;
}
.g-bd .m-bdb .m-bdbl .row3 .r .content .cell .cell_b ul li dl dt a {
  padding-left: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #364b52;
}
.g-bd .m-bdb .m-bdbl .row3 .r .content .cell .cell_b ul li dl dt a:before {
  margin-left: -20px;
  margin-right: 12px;
  content: "*";
}
.g-bd .m-bdb .m-bdbl .row3 .r .content .cell .cell_b ul li dl dd p {
  text-indent: 2em;
  line-height: 1.41;
}
.g-bd .m-bdb .m-bdbl .row4 .m-slideBox2 {
  width: 870px;
  height: 145px;
}
.g-bd .m-bdb .m-bdbl .row5 .l,
.g-bd .m-bdb .m-bdbl .row5 .r {
  float: left;
  width: 426px;
  height: 293px;
}
.g-bd .m-bdb .m-bdbl .row5 .r {
  float: right;
}
.g-bd .m-bdb .m-bdbl .row6 .l,
.g-bd .m-bdb .m-bdbl .row6 .r {
  float: left;
  width: 426px;
  height: 293px;
}
.g-bd .m-bdb .m-bdbl .row6 .l .nav-tabs {
  background: url(../images/lancao.jpg) no-repeat right 0;
}
.g-bd .m-bdb .m-bdbl .row6 .r {
  float: right;
}
.g-bd .m-bdb .m-bdbl .row7 > ul {
  margin-left: -3.2%;
}
.g-bd .m-bdb .m-bdbl .row7 > ul > li {
  float: left;
  width: 30.3%;
  margin-left: 3%;
}
.g-bd .m-bdb .m-bdbl .row7 .l1,
.g-bd .m-bdb .m-bdbl .row7 .l2,
.g-bd .m-bdb .m-bdbl .row7 .l3 {
  width: 100%;
  height: 300px;
  background: #cad4d8;
  border: 1px solid #5f7f8c;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .hd,
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd,
.g-bd .m-bdb .m-bdbl .row7 .l3 .hd {
  position: relative;
  height: 42px;
  border-bottom: 2px solid #5f7f8c;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .hd .h1,
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd .h1,
.g-bd .m-bdb .m-bdbl .row7 .l3 .hd .h1 {
  float: left;
  height: 30px;
  width: 115px;
  padding: 5px 0;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .hd .h1 span,
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd .h1 span,
.g-bd .m-bdb .m-bdbl .row7 .l3 .hd .h1 span {
  display: block;
  color: #526d77;
  text-align: center;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .hd .h1 span.title,
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd .h1 span.title,
.g-bd .m-bdb .m-bdbl .row7 .l3 .hd .h1 span.title {
  font-family: 'Microsoft YaHei',\5FAE\8F6F\96C5\9ED1,'微软雅黑', 'SimSun',\5B8B\4F53,'宋体';
  font-size: 16px;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .hd .h1 span.sub,
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd .h1 span.sub,
.g-bd .m-bdb .m-bdbl .row7 .l3 .hd .h1 span.sub {
  -webkit-transform: scale(0.83333333);
  -ms-transform: scale(0.83333333);
  transform: scale(0.83333333);
  font-family: Arial;
  font-size: 10px \9;
  font-size: 12px;
  text-transform: uppercase;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .hd .other,
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd .other,
.g-bd .m-bdb .m-bdbl .row7 .l3 .hd .other {
  position: absolute;
  right: 10px;
  bottom: 2px;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .hd .other ul,
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd .other ul,
.g-bd .m-bdb .m-bdbl .row7 .l3 .hd .other ul {
  margin-left: -2px;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .hd .other ul li,
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd .other ul li,
.g-bd .m-bdb .m-bdbl .row7 .l3 .hd .other ul li {
  float: left;
  margin-left: 2px;
  padding: 1px;
  border: 1px solid #5f7f8c;
  background: #fff;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .hd .other ul li a,
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd .other ul li a,
.g-bd .m-bdb .m-bdbl .row7 .l3 .hd .other ul li a {
  display: block;
  padding: 2px 4px;
  border: 1px solid #93acb6;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .hd .other ul li.on a,
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd .other ul li.on a,
.g-bd .m-bdb .m-bdbl .row7 .l3 .hd .other ul li.on a {
  border: 1px solid #5f7f8c;
  color: #fff;
  background: #5f7f8c;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .content,
.g-bd .m-bdb .m-bdbl .row7 .l2 .content,
.g-bd .m-bdb .m-bdbl .row7 .l3 .content {
  position: relative;
  height: 240px;
  padding: 8px 20px;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .content:before,
.g-bd .m-bdb .m-bdbl .row7 .l2 .content:before,
.g-bd .m-bdb .m-bdbl .row7 .l3 .content:before,
.g-bd .m-bdb .m-bdbl .row7 .l1 .content:after,
.g-bd .m-bdb .m-bdbl .row7 .l2 .content:after,
.g-bd .m-bdb .m-bdbl .row7 .l3 .content:after {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  height: 7px;
  background: url(../images/wenlu.png) repeat-x;
  content: '';
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .content:after,
.g-bd .m-bdb .m-bdbl .row7 .l2 .content:after,
.g-bd .m-bdb .m-bdbl .row7 .l3 .content:after {
  top: auto;
  bottom: 1px;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .content ul li,
.g-bd .m-bdb .m-bdbl .row7 .l2 .content ul li,
.g-bd .m-bdb .m-bdbl .row7 .l3 .content ul li {
  font-size: 14px;
  line-height: 1.97142857;
  border-bottom: 1px dashed #a7bdc5;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .content ul li a span,
.g-bd .m-bdb .m-bdbl .row7 .l2 .content ul li a span,
.g-bd .m-bdb .m-bdbl .row7 .l3 .content ul li a span {
  float: right;
  padding-left: 20px;
  background: url(../images/hand.png) no-repeat 0 5px;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .content .more,
.g-bd .m-bdb .m-bdbl .row7 .l2 .content .more,
.g-bd .m-bdb .m-bdbl .row7 .l3 .content .more {
  margin-top: 10px;
}
.g-bd .m-bdb .m-bdbl .row7 .l1 .content .more a,
.g-bd .m-bdb .m-bdbl .row7 .l2 .content .more a,
.g-bd .m-bdb .m-bdbl .row7 .l3 .content .more a {
  display: block;
  text-align: right;
}
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd,
.g-bd .m-bdb .m-bdbl .row7 .l3 .hd {
  border-bottom: 2px solid transparent;
}
.g-bd .m-bdb .m-bdbl .row7 .l2 .hd .h1 {
  margin-left: 20px;
  text-indent: -9999px;
  background: url(../images/chubanxinxi.png) no-repeat 0 0;
}
.g-bd .m-bdb .m-bdbr .row1 > .title,
.g-bd .m-bdb .m-bdbr .row2 > .title {
  position: relative;
  background: #cad8dd url(../images/shitanfengyun.jpg) no-repeat right 0;
  z-index: 999;
}
.g-bd .m-bdb .m-bdbr .row1 > .title .h1,
.g-bd .m-bdb .m-bdbr .row2 > .title .h1 {
  position: relative;
  z-index: 1000;
  width: 126px;
  height: 30px;
  padding: 5px 0;
  border: 1px solid #5f7f8c;
  border-bottom: none;
  font-weight: normal;
  background: #cad8dd;
}
.g-bd .m-bdb .m-bdbr .row1 > .title .h1 span,
.g-bd .m-bdb .m-bdbr .row2 > .title .h1 span {
  display: block;
  width: 100%;
  color: #526d77;
  text-align: center;
}
.g-bd .m-bdb .m-bdbr .row1 > .title .h1 span.title,
.g-bd .m-bdb .m-bdbr .row2 > .title .h1 span.title {
  font-family: 'Microsoft YaHei',\5FAE\8F6F\96C5\9ED1,'微软雅黑', 'SimSun',\5B8B\4F53,'宋体';
  font-size: 16px;
}
.g-bd .m-bdb .m-bdbr .row1 > .title .h1 span.sub,
.g-bd .m-bdb .m-bdbr .row2 > .title .h1 span.sub {
  font-family: Arial;
  font-size: 10px \9;
  font-size: 12px;
  text-transform: uppercase;
  background: #8aa5af;
}
.g-bd .m-bdb .m-bdbr .row1 > .title .h1 span.sub p,
.g-bd .m-bdb .m-bdbr .row2 > .title .h1 span.sub p {
  color: #cad8dd;
  -webkit-transform: scale(0.83333333);
  -ms-transform: scale(0.83333333);
  transform: scale(0.83333333);
}
.g-bd .m-bdb .m-bdbr .row1 .body,
.g-bd .m-bdb .m-bdbr .row2 .body {
  position: relative;
  height: 233px;
  padding: 8px 20px;
  border: 1px solid #5f7f8c;
}
.g-bd .m-bdb .m-bdbr .row1 .body:after,
.g-bd .m-bdb .m-bdbr .row2 .body:after {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 7px;
  background: url(../images/wenlu.png) repeat-x;
  content: '';
}
.g-bd .m-bdb .m-bdbr .row1 .body ul li,
.g-bd .m-bdb .m-bdbr .row2 .body ul li {
  font-size: 14px;
  line-height: 1.71428571;
  border-bottom: 1px dashed #a7bdc5;
}
.g-bd .m-bdb .m-bdbr .row1 .body .more,
.g-bd .m-bdb .m-bdbr .row2 .body .more {
  margin-top: 10px;
}
.g-bd .m-bdb .m-bdbr .row1 .body .more a,
.g-bd .m-bdb .m-bdbr .row2 .body .more a {
  display: block;
  text-align: right;
}
.g-bd .m-bdb .m-bdbr .row2 > .title {
  height: 41px;
  margin-top: -11px;
  padding-top: 14px;
  background: url(../images/mingjiakuaidi.jpg) no-repeat right 2px;
}
.g-bd .m-bdb .m-bdbr .row2 .body {
  height: 240px;
  background: #cad4d8;
}
.g-bd .m-bdb .m-bdbr .row3 {
  border: 1px solid #5f7f8c;
  padding: 33px 15px 15px;
  background: #cad4d8;
}
.g-bd .m-bdb .m-bdbr .row3 .video {
  position: relative;
  border: 1px solid #7f9ca7;
}
.g-bd .m-bdb .m-bdbr .row3 .video .title {
  position: absolute;
  top: -22px;
  left: 50%;
  width: 99px;
  height: 36px;
  margin-left: -49.5px;
  text-indent: -9999px;
  background: url(../images/tianlai.png) no-repeat;
}
.g-bd .m-bdb .m-bdbr .row3 .video img {
  width: 100%;
}
.g-bd .m-bdb .m-bdbr .row3 .videoList dl dt,
.g-bd .m-bdb .m-bdbr .row3 .videoList dl dd {
  line-height: 24px;
  text-align: center;
}
.g-bd .m-bdb .m-bdbr .row3 .videoList dl dt a,
.g-bd .m-bdb .m-bdbr .row3 .videoList dl dd a {
  font-size: 14px;
  line-height: 1.2;
}
.g-bd .m-bdb .m-bdbr .row3 .videoList dl dt {
  border-bottom: 1px solid #93acb6;
}
.g-bd .m-bdb .m-bdbr .row3 .videoList dl dd {
  border-bottom: 1px dashed #93acb6;
}
.g-bd .m-bdb .m-bdbr .row3 .more {
  margin-top: 10px;
}
.g-bd .m-bdb .m-bdbr .row3 .more a {
  display: block;
  text-align: right;
}
.g-bd .m-bdb .m-bdbr .row4 .l,
.g-bd .m-bdb .m-bdbr .row4 .r {
  float: left;
  width: 49%;
  height: 209px;
}
.g-bd .m-bdb .m-bdbr .row4 .l {
  position: relative;
}
.g-bd .m-bdb .m-bdbr .row4 .l .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 5px;
  border-top: 3px solid #5f7f8c;
  background: #cad8dd;
}
.g-bd .m-bdb .m-bdbr .row4 .l .content:before,
.g-bd .m-bdb .m-bdbr .row4 .l .content:after {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  height: 7px;
  background: url(../images/wenlu.png) repeat-x;
  content: '';
}
.g-bd .m-bdb .m-bdbr .row4 .l .content:after {
  top: auto;
  bottom: 1px;
}
.g-bd .m-bdb .m-bdbr .row4 .l .content .hd {
  height: 37px;
  margin-top: 20px;
  text-indent: -9999px;
  background: url(../images/zhoukan.png) no-repeat;
}
.g-bd .m-bdb .m-bdbr .row4 .l .content .body .selectWrap {
  width: 105px;
  padding: 2px;
  margin: 10px auto 0;
  border: 1px solid #5f7f8c;
}
.g-bd .m-bdb .m-bdbr .row4 .l .content .body .selectWrap select {
  width: 105px;
  height: 20px;
  border: 1px solid #5f7f8c;
  margin-bottom: 5px;
}
.g-bd .m-bdb .m-bdbr .row4 .l .content .body .selectWrap select:last-child,
.g-bd .m-bdb .m-bdbr .row4 .l .content .body .selectWrap select.last {
  margin-bottom: 0;
}
.g-bd .m-bdb .m-bdbr .row4 .l .content .body .more {
  width: 60px;
  margin: 10px auto 0;
  padding: 2px;
  border: 1px solid #5f7f8c;
}
.g-bd .m-bdb .m-bdbr .row4 .l .content .body .more a {
  display: block;
  width: 50px;
  padding: 2px 4px;
  text-align: center;
  border: 1px solid #93acb6;
  background: #dfe8eb;
}
.g-bd .m-bdb .m-bdbr .row4 .r {
  float: right;
}
.g-bd .m-bdb .m-bdbr .row4 .r img {
  width: 100%;
  height: 208px;
}
.g-bd .m-bdb .m-bdbr .row5 {
  width: 288px;
  height: 314px;
  padding: 20px 10px;
  background: url(../images/gongjuBg.jpg) no-repeat;
}
.g-bd .m-bdb .m-bdbr .row5 .hd {
  width: 270px;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  font-family: "微软雅黑";
  font-size: 18px;
  color: #526d77;
  text-align: center;
  background: url(../images/gongjuTitle.jpg) no-repeat;
}
.g-bd .m-bdb .m-bdbr .row5 .body ul {
  margin-top: 5px;
  margin-left: 8px;
}
.g-bd .m-bdb .m-bdbr .row5 .body ul li {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
.g-bd .m-bdb .m-bdbr .row5 .body ul li a {
  display: block;
  width: 25px;
  height: 25px;
  padding: 18.5px;
  color: #526d77;
  background: url(../images/box.jpg) no-repeat;
}
.g-bd .m-bdb .m-bdbr .row5 .body ul li a.six {
  width: 36px;
  height: 36px;
  padding: 13px;
}
.g-bd .m-bdb .m-bdbr .row6 {
  position: relative;
  width: 304px;
  height: 458px;
  margin-top: 25px;
  border: 2px solid #5f7f8c;
  background: #cad4d8 url(../images/guiBg.jpg) no-repeat right top;
}
.g-bd .m-bdb .m-bdbr .row6 .title {
  position: absolute;
  top: -27px;
  left: 5px;
}
.g-bd .m-bdb .m-bdbr .row6 .title .h1 {
  width: 154px;
  height: 63px;
  text-indent: -9999px;
  background: url(../images/dianjigui.png) no-repeat;
}
.g-bd .m-bdb .m-bdbr .row6 .body {
  margin: 40px auto 0;
  padding: 0 20px;
}
.g-bd .m-bdb .m-bdbr .row6 .body .cell {
  width: 244px;
  height: 376px;
  padding: 12px 10px;
  background: url(../images/dianjiku.jpg) no-repeat 0 0;
}
.g-bd .m-bdb .m-bdbr .row6 .body .cell ul {
  margin-top: -14px;
}
.g-bd .m-bdb .m-bdbr .row6 .body .cell ul li {
  float: left;
  width: 43px;
  height: 106px;
  margin-top: 18px;
  margin-left: 5px;
}
.g-bd .m-bdb .m-bdbr .row6 .body .cell ul li a {
  position: relative;
  display: block;
  width: 14px;
  margin: 12px auto 0;
  text-align: center;
  font-size: 14px;
}
.g-bd .m-bdb .m-bdbr .row6 .body .cell ul li a:before,
.g-bd .m-bdb .m-bdbr .row6 .body .cell ul li a:after {
  position: absolute;
  top: -7px;
  left: 0;
  width: 14px;
  height: 7px;
  background: url(../images/shangkuohao.png) no-repeat;
  content: '';
}
.g-bd .m-bdb .m-bdbr .row6 .body .cell ul li a:after {
  top: auto;
  bottom: -7px;
  background: url(../images/xiakuohao.png) no-repeat;
}
.g-ft .m-ftt {
  height: 260px;
  background: #cbd4d9;
}
.g-ft .m-ftt .panelWrap {
  padding-top: 30px;
}
.g-ft .m-ftt .panelWrap > ul {
  width: 684px;
  margin: 0 auto;
}
.g-ft .m-ftt .panelWrap > ul > li {
  float: left;
  width: 206px;
  height: 190px;
  margin-left: 30px;
  border: 1px solid #a7bdc5;
}
.g-ft .m-ftt .panelWrap > ul > li:first-child,
.g-ft .m-ftt .panelWrap > ul > li.first {
  margin-left: 0;
}
.g-ft .m-ftt .panelWrap > ul > li .panel .hd {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-family: 'Microsoft YaHei',\5FAE\8F6F\96C5\9ED1,'微软雅黑', 'SimSun',\5B8B\4F53,'宋体';
  font-size: 18px;
  color: #274955;
  text-align: center;
  border-bottom: 2px solid #5f7f8c;
  background: url(../images/wenlu2.png) repeat;
}
.g-ft .m-ftt .panelWrap > ul > li .panel .body {
  position: relative;
  height: 124px;
  padding: 20px 20px 8px;
  background: #d7e2e6;
}
.g-ft .m-ftt .panelWrap > ul > li .panel .body:before,
.g-ft .m-ftt .panelWrap > ul > li .panel .body:after {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  height: 7px;
  background: url(../images/wenlu.png) repeat-x;
  content: '';
}
.g-ft .m-ftt .panelWrap > ul > li .panel .body:after {
  top: auto;
  bottom: 1px;
}
.g-ft .m-ftt .panelWrap > ul > li .panel .body ul li {
  float: left;
  width: 50%;
  text-align: center;
}
.g-ft .m-ftt .panelWrap > ul > li .panel .body ul li a {
  font-size: 14px;
  line-height: 1.97142857;
}
.g-ft .m-ftt .panelWrap > ul > li .panel .body.social dl dd {
  height: 31px;
  line-height: 31px;
  margin-bottom: 10px;
  padding-left: 32px;
  text-align: center;
}
.g-ft .m-ftt .panelWrap > ul > li .panel .body.social dl dd.weibo {
  background: url(../images/weibo.jpg) no-repeat 35px 0;
}
.g-ft .m-ftt .panelWrap > ul > li .panel .body.social dl dd.weixin {
  background: url(../images/weixin.jpg) no-repeat 35px 0;
}
.g-ft .m-ftt .panelWrap > ul > li .panel .body.qr {
  text-align: center;
}
.g-ft .m-ftb {
  height: 50px;
  padding: 20px 0;
  text-align: center;
  background: #526d77;
}
.g-ft .m-ftb p {
  margin-bottom: 5px;
  text-align: center;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */