.m-filterPanel {
  position: relative;
  width: 100%;
  background: #cad4d8;
}
.m-filterPanel:before,
.m-filterPanel:after {
  position: absolute;
  top: 4px;
  right: 4px;
  left: 4px;
  height: 7px;
  background: url(../images/wenlu.png) repeat-x;
  content: '';
}
.m-filterPanel:after {
  top: auto;
  bottom: 4px;
}
.m-filterPanel .content {
  position: relative;
  padding: 16px 16px 20px 32px;
  border: 1px solid #5f7f8c;
}
.m-filterPanel .content:before,
.m-filterPanel .content:after {
  position: absolute;
  top: 11px;
  left: 3px;
  bottom: 11px;
  width: 8px;
  background: url(../images/wenlu3.png) repeat-y;
  content: '';
}
.m-filterPanel .content:after {
  left: auto;
  right: 2px;
}
.m-filterPanel .content > ul > li {
  padding: 8px 0;
  font-size: 14px;
  border-bottom: 1px dashed #7997a2;
}
.m-filterPanel .content > ul > li:last-child,
.m-filterPanel .content > ul > li.last {
  border-bottom: none;
}
.m-filterPanel .content > ul > li .title {
  display: inline-block;
  padding: 1px;
  border: 1px solid #5f7f8c;
  background: #fff;
}
.m-filterPanel .content > ul > li .title span {
  display: block;
  padding: 3px 16px;
  color: #e8eef0;
  background: #5f7f8c;
}
.m-filterPanel .content > ul > li dl dt {
  position: relative;
  float: left;
  width: 84px;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #364b52;
}
.m-filterPanel .content > ul > li dl dd {
  float: right;
  width: 100%;
  margin-left: -84px;
}
.m-filterPanel .content > ul > li dl dd ul {
  margin-left: 84px;
}
.m-filterPanel .content > ul > li dl dd ul li {
  float: left;
  margin-right: 15px;
  padding: 1px;
  border: 1px solid transparent;
}
.m-filterPanel .content > ul > li dl dd ul li a {
  display: block;
  padding: 1px 5px;
  border: 1px solid transparent;
}
.m-filterPanel .content > ul > li dl dd ul li.active {
  border: 1px solid #5f7f8c;
  background: #e1eff4;
}
.m-filterPanel .content > ul > li dl dd ul li.active a {
  border: 1px solid #93acb6;
}
