.g-hd{
	background:@body-bg;
	.m-hdt{
		position: relative;
		height: 285px;
		background: @brand-lightBlue-color;
		.content{
			width: 1300px \9;
			@media (min-width: @screen-lg){
				position: relative;
				width: 1300px;
			}
			height: 100%;
			margin: 0 auto;
			background: url(../images/headbg.jpg) no-repeat;
			.h1{
				text-indent: -9999px;
			}
		}
	}
	.m-hdb{
		border-top:1px solid @gray-dark;
		border-bottom: 1px solid @gray-dark;
		padding: 5px 0;
		.content{
			background: @brand-grey-color;
			
		}
	}
}
.g-bd{
	width: 1200px \9;
	@media (min-width:@screen-lg) {
		width: 1200px;
		}
	.m-bdbl{
		float: left;
		width: 872px;
		height: auto;
	}
	.m-bdbr{
		float: right;
		width: 308px;
		height: auto;
	}
	margin: 0 auto;
	.row{margin-bottom: 10px;}
	.m-bdt{
		margin-top: 10px;
		
	}
	.m-bdb{
		margin-top: 10px;
		.m-bdbl{
			.row3{
				.m-rowBox{
					float: left;
					width: 450px;
					height: 368px;
					.tab-content{
						border:1px solid #5f7f8c;
						background: #cad4d8;
						.tab-panel{
							display: none;
							height: 309px;
							&.active{
								display: block;
							}
							.cell{
								position: absolute;
								top: 8px;
								right: 0;
								bottom: 8px;
								left: 0;
								padding:10px 25px;
								&:before,&:after{
									position: absolute;
									top: 2px;
									left: 2px;
									bottom: 1px;
									width: 8px;
									background: url(../images/wenlu3.png) repeat-y;
									content: '';
								}
								&:after{
									left: auto;
									right: 2px;
								}
								.cell_t{
									.u-img{
										float: left;
										width: 227px;
										height: 177px;
										border:1px solid #526d77;
										img{
											width: 100%;
											height: 100%;
										}
									}
									.txt{
										float: right;
										position: relative;
										width: 100%;
										height: 179px;
										overflow: hidden;
										margin-left: -230px;
										.title{
											position: absolute;
											bottom: 0;
											right: 0;
											left:0;
											margin-left: 245px;
												margin-right: 10px;
											h3,p{
												padding: 5px 0;
												color: #364b52;
												border-bottom: 1px dashed #7997a2;
											}
											h3{
												font-weight: normal;
												font-size: 18px;
											}
											p{
												font-size: 14px;
											}
										}
									}
								}
								.cell_b{
									margin-top: 10px;
									p{
										text-indent: 2em;
										a{
											font-size: 14px;
											line-height: 1.8;
											text-indent: 2em;
											padding: 5px 0;
											border-bottom: 1px dashed #7997a2;
											color: #364b52;
										}
									}
								}
							}
						}
					}
				}
				.r{
					float: right;
					position: relative;
					width: 402px;
					height: 368px;
					&:before,&:after{
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 402px;
						height: 16px;
						content: '';
						background: url(../images/zhou.png) no-repeat;
						}
					&:after{
						top: auto;
						bottom: 0;
					}
					.content{
						position: absolute;
						top: 0;
						right: 15px;
						bottom: 0;
						left: 15px;
						margin: 16px 0;
						background: #cad8dd;
						.cell{
							position: absolute;
							top: 7px;
							right: 15px;
							bottom: 7px;
							left: 15px;
							padding: 5px 20px;
							border:1px solid #a7bdc5;
							.cell_t{
								a{
									display: block;
									width: 100%;
									text-align: center;
									border-bottom: 2px solid #8fa9b3;
								}
							}
							.cell_b{
								margin-top: 4px;
								ul{
									li{
										border-top: 1px dashed #8fa9b3;
										padding-bottom: 5px;
										dl{
											dt{
												padding: 3px 0;
												a{
													padding-left: 25px;
													font-size: 14px;
													font-weight: bold;
													color: #364b52;
													&:before{
														margin-left: -20px;
														margin-right: 12px;
														content: "*";
													}
												}
											}
											dd{
												p{
													text-indent: 2em;
													line-height: 1.41;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.row4{
				.m-slideBox2{
					width:870px; 
					height:145px; 
				}
			}
			.row5{
				.m-rowBox{
					width: 426px;
					height: 293px;
				}
			}
			.row6{
				.m-rowBox{
					width: 426px;
					height: 293px;
					&.f-fl{
						.nav-tabs{
							background: url(../images/lancao.jpg) no-repeat right 0;
						}
					}
				}
			}
			.row7{
				>ul{
					margin-left: -3.2%;
					>li{
						float: left;
						width: 30.3%;
						margin-left: 3%;
					}
				}
				.l1,.l2,.l3{
					width: 100%;
					height: 300px;
					background: #cad4d8;
					border: 1px solid #5f7f8c;
					.hd{
						position: relative;
						height: 42px;
						border-bottom: 2px solid #5f7f8c;
						.h1{
							float: left;
							height: 30px;
							width: 115px;
							padding:5px 0;
							span{
								display: block;
								color: #526d77;
								text-align: center;
								&.title{
									font-family:@font-family-extend;
								    font-size: 16px;
								}
								&.sub{
									transform:scale( 10 / 12);
									font-family: @font-family-extend2;
									font-size: 10px \9;
									font-size: 12px;
									text-transform: uppercase;
								}
							}
						}
						.other{
							position: absolute;
							right: 10px;
							bottom: 2px;
							ul{
								margin-left: -2px;
								li{
									float: left;
									margin-left: 2px;
									padding:1px;
									border: 1px solid #5f7f8c;
									background: #fff;
									a{
										display: block;
										padding:2px 4px;
										border: 1px solid #93acb6;
									}
									&.on{
										a{
											border: 1px solid #5f7f8c;
											color: #fff;
											background: #5f7f8c;
										}
									}
								}
							}
						}
					}
					.content{
						position: relative;
						height: 240px;
						padding:8px 20px;
						&:before,&:after{
							position: absolute;
							top: 1px;
							left: 0;
							right: 0;
							height: 7px;
							background: url(../images/wenlu.png) repeat-x;
							content: '';
						}
						&:after{
							top: auto;
							bottom: 1px;
						}
						ul{
							li{
								font-size: 14px;
								line-height: ( 12*2.3 / 14);
								border-bottom: 1px dashed #a7bdc5;
								a{
									span{
										float: right;
										padding-left: 20px;
										background: url(../images/hand.png) no-repeat 0 5px;
									}
								}
							}
						}
						.more{
							margin-top: 10px;
							a{
								display: block;	
								text-align: right;
							}
						}
					}
				}
				.l2,.l3{
					.hd{
						border-bottom: 2px solid transparent;
					}
				}
				.l2{
					.hd{
						.h1{
							margin-left: 20px;
							text-indent: -9999px;
							background: url(../images/chubanxinxi.png) no-repeat 0 0;
						}
					}
				}
			}
		}
		.m-bdbr{
			.m-sidePanel{
				&.shitanfengyun{
					>.title{
						background:#cad8dd url(../images/shitanfengyun.jpg) no-repeat right 0;
					}
					.body{
						height: 233px;
					}
				}
				&.mingjiakuadi{
					>.title{
						height: 41px;
						margin-top: -11px;
						padding-top: 14px;
						background: url(../images/mingjiakuaidi.jpg) no-repeat right 2px;
					}
					.body{
						height: 240px;
						background: #cad4d8;
					}
				}
				&.fabushupaihang,
				&.shuhuapaihang{
					.body{
						padding:8px 20px 12px;
						ul{
							li{
								a{
									display: block;
									width: 100%;
									text-align: right;
									span{float: left;}
								}
								&:last-child,&.last{
									border: none;
								}
							}
						}
					}
				}

			}
			.tianlaizhiyin{
				border: 1px solid #5f7f8c;
				padding:33px 15px 15px;
				background: #cad4d8;
				.video{
					position: relative;

					border:1px solid #7f9ca7;
					.title{
						position: absolute;
						top: -22px;
						left: 50%;
						width: 99px;
						height: 36px;
						margin-left: -49.5px;
						text-indent: -9999px;
						background: url(../images/tianlai.png) no-repeat;
					}
					img{
						width: 100%;
					}
				}
				.videoList{
					dl{
						dt,dd{
							line-height: 24px;
							text-align: center;
							a{
								font-size: 14px;
								line-height: 1.2;
							}
						}
						dt{
							border-bottom: 1px solid #93acb6;
						}
						dd{
							border-bottom: 1px dashed #93acb6;
						}
					}
				}
				.more{
					margin-top: 10px;
					font-size: 14px;
					a{
						display: block;
						text-align: right;
					}
				}
			}
			.row4{
				.l,.r{
					float: left;
					width: 49%;
					height: 209px;
				}
				.l{
					position: relative;
					.content{
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						padding:8px 5px;
						border-top: 3px solid #5f7f8c;
						background: #cad8dd;
						&:before,&:after{
							position: absolute;
							top: 1px;
							left: 0;
							right: 0;
							height: 7px;
							background: url(../images/wenlu.png) repeat-x;
							content: '';
						}
						&:after{
							top: auto;
							bottom: 1px;
						}
						.hd{
							height: 37px;
							margin-top: 20px;
							text-indent: -9999px;
							background: url(../images/zhoukan.png) no-repeat;
						}
						.body{
							.selectWrap{
								width: 105px;
								padding:2px;
								margin:10px auto 0;
								border: 1px solid #5f7f8c;
								select{
								width: 105px;
								height: 20px;
								border: 1px solid #5f7f8c;
								margin-bottom: 5px;
								}
								select:last-child,select.last{
									margin-bottom: 0;
								}
							}
							.more{
								width: 60px;
								margin: 10px auto 0;
								padding:2px;
								border:1px solid #5f7f8c;
								a{
									display: block;
									width: 50px;
									padding:2px 4px;
									text-align: center;
									border: 1px solid #93acb6;
									background: #dfe8eb;
								}
							}
						}
					}
				}
				.r{
					float: right;
					img{
						width: 100%;
						height: 208px;
					}
				}
			}
			.row5{
				width: 288px;
				height: 314px;
				padding:20px 10px;
				background: url(../images/gongjuBg.jpg) no-repeat;
				.hd{
					width: 270px;
					height: 36px;
					line-height: 36px;
					margin:0 auto;
					font-family: "微软雅黑";
					font-size: 18px;
					color: #526d77;
					text-align: center;
					background: url(../images/gongjuTitle.jpg) no-repeat;
				}
				.body{
					ul{
						margin-top: 5px;
						margin-left: 8px;
						li{
							float: left;
							margin-top: 5px;
							margin-left: 5px;
							a{
								display: block;
								width: 25px;
								height: 25px;
								padding:18.5px;
								color: #526d77;
								background: url(../images/box.jpg) no-repeat;
							}
							a.six{
								width: 36px;
								height: 36px;
								padding:13px;
							}
						}
					}
				}
			}
			.row6{
				position: relative;
				width: 304px;
				height: 458px;
				margin-top: 25px;
				border: 2px solid #5f7f8c;
				background: #cad4d8 url(../images/guiBg.jpg) no-repeat right top;
				.title{
					position: absolute;
					top: -27px;
					left: 5px;
					
					.h1{
						width:154px;
						height: 63px;
						text-indent: -9999px;
						background: url(../images/dianjigui.png) no-repeat;
					}
				}
				.body{
					margin:40px auto 0;
					padding:0 20px;
					.cell{
						width: 244px;
						height: 376px;
						padding:12px 10px;
						background: url(../images/dianjiku.jpg) no-repeat 0 0;
						ul{
							margin-top: -14px;
							li{
								float: left;
								width: 43px;
								height: 106px;
								margin-top: 18px;
								margin-left: 5px;
								a{
									position: relative;
									display: block;
									width: 14px;
									margin:12px auto 0;
									text-align: center;
									font-size: 14px;
									&:before,&:after{
										position: absolute;
										top: -7px;
										left: 0;
										width: 14px;
										height: 7px;
										background: url(../images/shangkuohao.png) no-repeat;
										content: '';
									}
									&:after{
										top: auto;
										bottom: -7px;
										background: url(../images/xiakuohao.png) no-repeat;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.g-bd2{
	width: 1200px \9;
	@media (min-width:@screen-lg) {
		width: 1200px;
		}
	margin: 0 auto;
	.row{margin-bottom: 10px;}
	.m-bdt{
		margin-bottom: 20px;
		
	}
	.m-bdb{
		margin-top: 10px;
	}
	.m-bdbl{
		float: left;
		width: 308px;
		height: auto;
	}
	.m-bdbr{
		float: right;
		width: 872px;
		height: auto;
	}
}
.g-ft{
	.m-ftt{
		height:260px;
		background:@brand-lightgrey-color;
		.panelWrap{
			padding-top: 30px;
			>ul{
				width: 684px;
				margin:0 auto;
				>li{
					float: left;
					width: 206px;
					height: 190px;
					margin-left: 30px;
					border: 1px solid #a7bdc5;
					.cell_t{

					}
					&:first-child,&.first{
						margin-left: 0;
					}
					.panel{
						.hd{
							width: 100%;
							height: 36px;
							line-height: 36px;
							font-family: @font-family-extend;
							font-size: 18px;
							color: #274955;
							text-align: center;
							border-bottom: 2px solid #5f7f8c;
							background: url(../images/wenlu2.png) repeat;
						}
						.body{
							position: relative;
							height: 124px;	
							padding:20px 20px 8px;
							background: #d7e2e6;
							&:before,&:after{
							position: absolute;
							top: 1px;
							left: 0;
							right: 0;
							height: 7px;
							background: url(../images/wenlu.png) repeat-x;
							content: '';
							}
							&:after{
								top: auto;
								bottom: 1px;
							}
							ul{
								li{
									float: left;
									width: 50%;
									text-align: center;
									a{
										line-height: 2.3;
									}
								}
							}
							&.social{
								dl{
									dd{
										height: 31px;
										line-height: 31px;
										margin-bottom: 10px;
										padding-left: 32px;
										text-align: center;
										&.weibo{
											background: url(../images/weibo.jpg) no-repeat 35px 0;
										}
										&.weixin{
											background: url(../images/weixin.jpg) no-repeat 35px 0;
										}
									}
								}
							}
							&.qr{
								text-align: center;
							}
						}
					}
				}
			}
		}
		
	}
	.m-ftb{
		height:50px;
		padding:20px 0;
		text-align:center;
		background: @brand-darkBlue-color;
		p{
			margin-bottom: 5px;
			text-align: center;
			color: #fff;
		}
	}
}